In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab04.ipynb")

# Lab 4: Functions, Tables, and Groups

**Helpful Resources:**
- [Python Reference](http://www.cs.williams.edu/~cs104/python-library-ref.html): Cheat sheet of helpful library methods.

**Recommended Readings**: 
* [Ch 7.2. Visualizing Numerical Distributions](https://www.inferentialthinking.com/chapters/07/2/Visualizing_Numerical_Distributions.html)
* [Ch 8. Functions and Tables](https://www.inferentialthinking.com/chapters/08/Functions_and_Tables.html)

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to setup the notebook by importing some helpful libraries. Each time you start your server, you will need to execute this cell again.

For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. **Moreover, throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook!** For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you thought you were passing previously!

**Note: This homework has hidden tests on it. That means even though tests may say 100% passed, doesn't mean your final grade will be 100%. We will be running more tests for correctness once everyone turns in the homework.**

## 1. Burrito-ful San Diego (40 pts)

In [ ]:
# Run this cell to set up the notebook, but please don't change it.

# These lines import the Numpy and Datascience modules.
import numpy as np
from datascience import *

# These lines make plots look nice and hide some messy Python warnings.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)
warnings.simplefilter('ignore', np.VisibleDeprecationWarning)

We are trying find the best burritos in San Diego.  We have two comprehensive datasets on many burrito establishments in the San Diego area taken from (and cleaned from): https://www.kaggle.com/srcole/burritos-in-san-diego/data

The following cell reads in a table called `ratings` which contains names of burrito restaurants, their Yelp rating, Google rating, as well as their Overall rating. The `Overall` rating is not an average of the `Yelp` and `Google` ratings, but rather it is the overall rating of the customers that were surveyed in the study above.

It also reads in a table called `burritos_types` which contains names of burrito restaurants, their menu items, and the cost of the respective menu item at the restaurant.

In [ ]:
#Just run this cell
ratings = Table.read_table("ratings.csv")
ratings.show(5)
burritos_types = Table.read_table("burritos_types.csv")
burritos_types.show(5)

#### Part 1.1 (5 pts)

 It would be easier if we could combine the information in both tables. Assign `burritos` to the result of joining the two tables together, so that we have a table with the ratings for every corresponding menu item from every restaurant. Each menu item has the same rating as the restaurant from which it is from. 

**Note:** It doesn't matter which table you put in as the argument to the table method, either order will work for the autograder tests.

In [ ]:
burritos = ...
burritos.show(5)

In [ ]:
grader.check("q1.1")

<!-- BEGIN QUESTION -->

#### Part 1.2 (5 pts)

 Let's look at how the Yelp scores compare to the Google scores in the `burritos` table. First, assign `yelp_and_google` to a table only containing the columns `Yelp` and `Google`. Then, make a scatter plot with Yelp scores on the x-axis and the Google scores on the y-axis.

In [ ]:
yelp_and_google = ...
...

# Don't change/edit/remove the following line.
# To help you make conclusions, we have plotted a straight line on the graph (y=x)
plt.plot(np.arange(2.5,5,.5), np.arange(2.5,5,.5));

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

#### Part 1.3 (5 pts)

 Looking at the scatter plot you just made in Part 1.2, do you notice any pattern(s) (i.e. is one of the two types of scores consistently higher than the other one)? If so, describe them **briefly** in the cell below.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

You can read how `.group` works in the [textbook](https://www.inferentialthinking.com/chapters/08/2/Classifying_by_One_Variable.html)

#### Part 1.4 (5 pts)

There are so many types of California burritos in the `burritos` table! We'd like to know which type is the highest rated across all restaurants. *Note: For the sake of these questions, we are treating each menu item's rating the same as its respective restaurant's, as we do not have the rating of every single item at these restaurants. You do not need to worry about this fact, but we thought to mention it!*

Create a table that has two columns: the name of the burrito and the average overall rating of that burrito across restaurants. **In your calculations, you should compare burritos that contain the word "California".** For example, there's "California" burritos, "California breakfast" burritos, "California Surf and Turf" burritos, etc. 

*Hint:* If multiple restaurants serve the "California - Chicken" burrito, what table method can we use to aggregate those together and find the average overall rating?

**Note:** You can break up the solution into multiple lines, as long as you assign the final output table to `california_burritos`! For reference however, we used only one line.

In [ ]:
california_burritos = ...
california_burritos

In [ ]:
grader.check("q1.4")

#### Part 1.5 (5 pts)

 Given this new table `california_burritos`, we can figure out the name of the California burrito with the highest overall average rating! Assign `best_california_burrito` to a line of code that outputs the string that represents the name of the California burrito with the highest overall average rating. If multiple burritos satisfy this criteria, you can output any one of them.

In [ ]:
best_california_burrito = ...
best_california_burrito

In [ ]:
grader.check("q1.5")

#### Part 1.6 (5 pts)

 Using the `burritos` table, assign `menu_average` to a table that has three columns that uniquely pairs the name of the restaurant, the menu item featured in the review, and the average overall score for that menu item at that restaurant. 

*Hint:* Use `.group`, and remember that you can group by multiple columns. Here's an example from the [textbook](https://www.inferentialthinking.com/chapters/08/3/Cross-Classifying_by_More_than_One_Variable.html).

In [ ]:
menu_average = ...
menu_average

In [ ]:
grader.check("q1.6")

<!-- BEGIN QUESTION -->

#### Part 1.7 (5 pts)

We hypothesize that burritos in San Diego are cheaper (and taste better) than the burritos in Williamstown. Plot a histogram that visualizes that distribution of the costs of the burritos from San Diego in the `burritos` table. Also use the provided `bins` variable when making your histogram, so that the histogram is more visually informative.

In [ ]:
bins = np.arange(0, 15, 1)

# Please also use the provided bins
...

<!-- END QUESTION -->

#### Part 1.8 (5 pts)

 What percentage of burritos in San Diego are less than $6? Assign `burritos_less_than_6` to your answer, which should be between 0 and 100. You should only use the histogram above to answer the question. Do not use code on the table to to find the answer, just eyeball the heights and use Python to evaluate your arithmetic! 

Your answer does not have to be exact, but it should be within a couple percentages of our answer.

In [ ]:
burritos_less_than_6 = ...

In [ ]:
grader.check("q1.8")

## 2. Penguins (30 pts)

This exercise is designed to give you practice using the Table methods `pivot` and `group`.

We'll use a data from the [palmerpenguins dataset](https://github.com/allisonhorst/palmerpenguins), which captures data for three species of penguins (Adelie, Chinstrap, and Gentoo) on three islands in the Palmer Archipelago, Antarctica (Biscoe, Dream, and Torgersen).  Here's some artwork from the dataset creator showing the three species and what several of the data elements mean:

<img width=300 src="https://github.com/allisonhorst/palmerpenguins/raw/master/man/figures/lter_penguins.png"><img width=300 src="https://github.com/allisonhorst/palmerpenguins/raw/master/man/figures/culmen_depth.png">

We have lightly cleaned the data to make it easier to work with. Run the following cell to load our data into a table called `penguins`.

In [ ]:
penguins = Table.read_table("penguins.csv")
penguins

#### Part 2.1 (5 pts)

Since we'll be focussing most on bill length for our various penguins, create a new table with three columns labeled "species", "island", and "bill length".

In [ ]:
bill_length = ...
bill_length

In [ ]:
grader.check("q2.1")

#### Part 2.2 (5 pts)

Set `bill_lengths` to a table with two columns. The first column should be `species` and the second column should be `bill lengths`.  Each row in that second column should contain an *array* of the all of the bill lengths for penguins of the given species. 

*Hint:* Think about how ```group``` works: it collects values into an array and then applies a function to that array. We have defined two functions below for you, and you will need to use one of them in your call to ```group```.

In [ ]:
# Pick one of the two functions defined below in your call to group.
def function1(array):
    '''Returns the first item'''
    return array.item(0)

def function2(array):
    '''Returns the array that is passed through'''
    return array 

# Make a call to group using one of the functions above when you define job_titles
bill_lengths = ...
bill_lengths

In [ ]:
grader.check("q2.2")

<!-- BEGIN QUESTION -->

#### Part 2.3 (5 pts)

At the moment, the `bill length` column of the `bill_length` table is not sorted (no particular order). Would the arrays you generated in the `bill lengths` column of the previous question be the same if we had sorted from shortest to longest beak before generating the arrays? Explain your answer.  

**Note:** Two arrays are the **same** if they contain the same number of elements and the elements located at corresponding indexes in the two arrays are identical. An example of arrays that are NOT the same: `array([1,2]) != array([2,1])`.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

#### Part 2.4 (5 pts)

Now create a new table `bill_length_mean` with two columns. The first column should be `species` and the second column should be `bill length mean`.  
Each row in that second column should be the *mean* bill length for the given species.  Your answer should be very similar to the second part of this question...

In [ ]:
bill_length_mean = ...
bill_length_mean

In [ ]:
grader.check("q2.4")

#### Part 2.5 (5 pts)

Set `bill_length_ranges` to a table containing islands as the rows and species as the columns. The values in the rows should correspond to a bill length range, where range is defined as the **difference between the longest bill length and shortest bill length for penguins of that species on that island**. 

*Hint 1:* First you'll need to define a new function `length_range` which takes in an array of compensations and returns the range of compensations in that array.

*Hint 2:* What table function allows you to specify the rows and columns of a new table?

In [ ]:
def length_range(array):
    return max(array) - min(array)

bill_length_ranges = ...
bill_length_ranges

In [ ]:
grader.check("q2.5")

<!-- BEGIN QUESTION -->

#### Part 2.6 (5 pts)

Give an explanation as to why some of the row values are `0` in the `bill_length_ranges` table from the previous question.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## 3. Boston City Employee Salaries (20 pts)

We now examine publicly available [City of Boston payroll data for employees](https://data.boston.gov/dataset/418983dc-7cae-42bb-88e4-d56f5adcf869/resource/ec5aaf93-1509-4641-9310-28e62e028457/download/employee-earnings-report-2021.csv) for 2021.  We have filtered it to retain just some of the columns.  The next cell loads it into the table `full_boston`.

In [ ]:
full_boston = Table.read_table("boston-earnings.csv")
full_boston

The table has one row for each of the 22,546 city employees in 2021. The first two describe the department and title for each employee.  For example, the employee in the fourth row is a Police Officer in the Boston Police Department.  The next seven columns contain the dollar amounts paid to the employee in the calendar year 2021 for various reasions:

* REGULAR: the employees base salary.
* RETRO: retroactive pay from earlier work.
* OTHER: anything not covered by the other categories.
* OVERTIME: work beyond regular hours.
* INJURED: pay for time not worked due to injury.
* DETAIL: pay for work done as part of special details.
* QUINN_EDUCATION_INCENTIVE: an incentive program to encourage police officers to earn degrees in law enforcement and criminal justice.

The `TOTAL_GROSS` column is the sum of those seven.  In many cases, especially for police officers and fire fighters, the totall gross compensation is much larger that the regular salary because of over-time and special assignment details.

For this homework, we will be using `DEPARTMENT_NAME`, `TITLE`, `REGULAR`, and `TOTAL_GROSS`.  Run the next cell to load those columns into the table `boston`

In [ ]:
boston = full_boston.select("TITLE", "DEPARTMENT_NAME", "REGULAR", "TOTAL_GROSS")
boston

#### Part 3.1 (5 pts)

Create a new table of city employees having gross earnings over $100,000. That table should have two columns, `TITLE` and `TOTAL_GROSS`, and be sorted in decreasing order by the latter.

In [ ]:
over_100k = ...
over_100k

You may be surprised by the two outliers at the top of the list.  A quick [web search](https://www.bostonherald.com/2022/02/26/boston-a-six-figure-jackpot-for-city-employees-2-topped-1m/) sheds some light on those two employees (and may also help you validate your other answers below!).

In [ ]:
grader.check("q3.1")

#### Part 3.2 (5 pts)

We'd now like to know the number of employees with each `TITLE` having gross earnings greater than $100,000.  Use `over_100k` to construct a new table with `TITLE` and `100k Earners` coulumns.

In [ ]:
over_100k_by_title = over_100k.group("TITLE").sort("count", descending=True).relabeled("count", "100k Earners")
over_100k_by_title

In [ ]:
grader.check("q3.2")

#### Part 3.3 (5 pts)

Now construct one additional table summarizing the total earnings for each department.  Your table should have columns labeled `DEPARTMENT_NAME` and `DEPARTMENT_GROSS`, where the latter is the total gross earnings of all empoloyees in that department.  Short from highest to lowest department gross earnings.

In [ ]:
dept_gross_earnings = boston.select("DEPARTMENT_NAME", "TOTAL_GROSS").group("DEPARTMENT_NAME", sum).sort("TOTAL_GROSS sum", descending=True).relabeled("TOTAL_GROSS sum", "DEPARTMENT_GROSS")
dept_gross_earnings

In [ ]:
grader.check("q3.3")

<!-- BEGIN QUESTION -->

#### Part 3.4 (5 pts)

Create a bar chart showing the department gross earnings for the top 15 departments when ranked by gross earnings.

In [ ]:
dept_gross_earnings.take(np.arange(15)).barh("DEPARTMENT_NAME")

<!-- END QUESTION -->

## 5. Open Ended (15 pts)

<!-- BEGIN QUESTION -->

#### Part 5.1 (5 pts)

Pose an additional question about one of the data sets from this homework, and explain how you can answer that question.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

#### Part 5.2 (5 pts)

Write the Python code to compute the solution to your question

In [ ]:
# Your code goes here.  
# If you'd like to divide your work across multiple cells, 
#  you can create an additional cell by selecting a cell and pressing "B".

<!-- END QUESTION -->

You're done with Lab 4!  

**Important submission information:** Follow these steps to submit your work:
* Run the tests and verify that they pass as you expect. 
* Choose **Save Notebook** from the **File** menu.
* **Run the final cell** and click the link below to download the zip file. 

Once you have downloaded that file, go to [Gradescope](https://www.gradescope.com/) and submit the zip file to the corresponding assignment. The name of this assignment is "Lab 4". **Be sure your work is saved before running the last cell!**

Once you have submitted, your Gradescope assignment should show you passing all the tests you passed in your assignment notebook.

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export()