# Data Types

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Tables ##

In [ ]:
cones = Table.read_table('data/cones.csv')
cones

In [ ]:
cones.show(3)

In [ ]:
cones.show()

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

### A more interesting table -- replace this with Big Tree example?

In [ ]:
nba = Table.read_table('data/nba_salaries.csv').relabeled(3, 'SALARY')
nba

In [ ]:
point_guards = nba.where('POSITION', 'PG')

In [ ]:
point_guards

In [ ]:
point_guards.drop('POSITION')

In [ ]:
point_guards

In [ ]:
point_guards = point_guards.drop('POSITION')

In [ ]:
point_guards.sort('SALARY', descending=True).show()

In [ ]:
point_guards.sort('SALARY', descending=True).show(15)

In [ ]:
# Errors!
nba.where('position', 'PG')

In [ ]:
nba.drop('POSITION').where('POSITION', 'PG')

## Arithmetic

In [ ]:
2 + 3

In [ ]:
2 * 3

In [ ]:
2 ** 3

In [ ]:
2 * * 3

In [ ]:
(10 * 2) ** 3

In [ ]:
2 / 3

In [ ]:
2 / 0

In [ ]:
2 / 3000

In [ ]:
2 / 3000000

In [ ]:
0.6666666666666666 - 0.6666666666666666123456789

In [ ]:
0.000000000000000123456789

In [ ]:
0.000000000000000000000000000000000000000000000000000000000000000000000123456789

In [ ]:
2 ** 0.5

In [ ]:
2 ** 0.5 * 2 ** 0.5

In [ ]:
2 ** 0.5 * 2 ** 0.5 - 2

## Strings ##

In [ ]:
'Moo'

In [ ]:
Moo

In [ ]:
"Moo"

In [ ]:
'Don't always use single quotes'

In [ ]:
"Don't always use single quotes"

In [ ]:
'straw' + 'berry' # concatenation

In [ ]:
'Steve' + 'Katie' # spaces aren't added for you

In [ ]:
'Steve' + ' ' + 'Katie'

In [ ]:
'ha' * 100

In [ ]:
'lo' * 5.5

In [ ]:
'ha' + 10

In [ ]:
'ha' + str(10)

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
int(float('3.0'))

## Arrays

Array:  sequence of values, all the same type, "boxed up"

In [ ]:
make_array(1, 2, 'hello')

In [ ]:
a = make_array(1, 2, 3)
a

Arithmetic operations are *broadcast*

In [ ]:
a * 2

In [ ]:
a + 5

In [ ]:
make_array(1,2,3,4) + make_array(10, 100, 1000, 10000)

In [ ]:
a

In [ ]:
len(a)

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
sum(a)

In [ ]:
make_array(1,2,3) + make_array(1,2)

*Index* into array to retrieve items.  Indices start at 0.

In [ ]:
a.item(0)

In [ ]:
a.item(1)

In [ ]:
a.item(3)

Think of `item(n)` as asking for the item that has `n` items before it.

## Range -- what's the motivation for this being here??

`np.arange`: a library function that produces an array containing a range of values

In [ ]:
np.arage(5)

In [ ]:
np.arange(1, 5)

Range includes beginning, excludes ending:  $[1, 5)$

In [ ]:
b = np.arange(0, 20)
b

In [ ]:
c = np.arange(2,-2,-1)
c

## Columns of Tables are Arrays -- Bag this

In [ ]:
warriors = nba.where('TEAM', 'Golden State Warriors')

In [ ]:
warriors

In [ ]:
warriors.select('SALARY')

In [ ]:
type(warriors.select('SALARY'))

In [ ]:
warriors.column('SALARY')

In [ ]:
np.average(warriors.column('SALARY'))

In [ ]:
raptors = nba.where('TEAM', 'Toronto Raptors')

In [ ]:
np.average(warriors.column('SALARY')) - np.average(raptors.column('SALARY'))