# Tables

The next cell has some "boiler plate" code.  You'll find it at the top of all notebooks in CS 104.  Always run this cell.  It sets up our notebook environment to have access to the libraries and resources used in the rest of the code.

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Python Review

### Expressions

In [ ]:
24

In [ ]:
24 * 7

In [ ]:
24 * 60 * (60 + 5 - 3 * 2)

In [ ]:
# two to the power of four: 2 * 2 * 2 * 2
2 ** 4

In [ ]:
'hello'

### Variables

Terminology:  *expressions*, *values*, *names*, *variables*, *statements*

Naming rules:  letters, numbers, underscores; case sensitive; start with letter usually

Calculate the number of seconds in a year.

In [ ]:
60 * 60 * 24 * 365

In [ ]:
seconds_per_year = 60 * 60 * 24 * 365

In [ ]:
seconds_per_year

In [ ]:
seconds_per_hour = 60 * 60
hours_per_year = 24 * 365
seconds_per_year = seconds_per_hour * hours_per_year
seconds_per_year

### Functions

Terminology: *function*, *call*, *argument*

In [ ]:
abs(-5)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
max(3, 4, 6, -2 , 1, 0)

In [ ]:
y = max(3, 4)

In [ ]:
y

In [ ]:
round(123.456, 1)

## Tables

Tables are stored as CSV (Comma separated values) files.  Have a look!

### Hopkin's Forest Tree Surveys

![](https://hmf.williams.edu/files/foliage.jpg) 

Trees and more here: <https://hmf.williams.edu/researchacademics/data/>

In [ ]:
Table.read_table('data/hopkins-plot-0011.csv')

In [ ]:
trees = Table.read_table('data/hopkins-plot-0011.csv')
trees

In [ ]:
trees.show(3)

In [ ]:
trees.show()

### Table Operations: Selecting Columns

Terminology: *method*

In [ ]:
trees.select('genus')

In [ ]:
trees.select('common name', 'count')

In [ ]:
trees.select(genus, 'count')  # Error!

In [ ]:
trees.drop('species')

In [ ]:
trees  # Still the same...

In [ ]:
trees_without_species = trees.drop('species')
trees_without_species

### Table Operations: Sorting

Terminology:  *named argument*

In [ ]:
trees_without_species.sort('count')

In [ ]:
trees_without_species.sort('count', descending=True)

In [ ]:
trees_without_species.sort('genus', descending=True)

## Tying It All Together

![](https://gnnguidepost.org/wp-content/uploads/2022/02/0b44ff30dbe13528285e97eb23b3e185.png)

In [ ]:
# Data as of 2020 in dollars
movies = Table.read_table('data/top_movies_2020.csv')

In [ ]:
movies

Terminology:  *named argument*

In [ ]:
movies.sort('Year', descending=True)

In [ ]:
movies.show(15)

In [ ]:
movies.sort('Gross')

In [ ]:
movies.sort('Gross', descending=True)

In [ ]:
sorted_by_gross = movies.sort('Gross', descending=True)
sorted_by_gross
# what about adjusted gross?

In [ ]:
sorted_by_gross.sort('Studio')

In [ ]:
sorted_by_gross.sort('Studio', distinct=True)

## Visualizing Categorical Data

In [ ]:
top_per_studio = sorted_by_gross.sort('Studio', distinct=True)
top_per_studio

In [ ]:
# Which studio has the highest grossing movie?
# Bar chart: visualize categorical data
top_per_studio.barh('Studio', 'Gross')

In [ ]:
# Sort first: make it easier for the eye to compare
top_studios = top_per_studio.sort('Gross', descending=True)
top_studios.barh('Studio', 'Gross')

In [ ]:
# Compare unadjusted vs. adjusted gross
just_revenues = top_studios.select('Studio', 'Gross', 'Gross (Adjusted)')

In [ ]:
just_revenues

In [ ]:
just_revenues.barh('Studio')

### Table Operations: Selecting Rows

In [ ]:
majors = Table.read_table("data/majors.csv")
majors

In [ ]:
majors.sort("2018-2021", descending=True)

In [ ]:
majors.where("Division", are.equal_to(3))
majors.where("Division", 3)  # same

Terminology: *method chaining*

In [ ]:
majors.where("Division", are.equal_to(3)).sort("2018-2021", descending=True)

See complete list of `are` conditions in our [Python Reference](https://www.cs.williams.edu/~cs104/auto/python-library-ref.html#sec-where).

In [ ]:
majors.where("Division", are.not_equal_to(3)).sort("2018-2021", descending=True)

In [ ]:
majors.where("2018-2021", are.above(30))

In [ ]:
majors.where("2018-2021", are.between(10,20))